<div class="container">
    <!-- Toolbar -->
<div class="toolbar" role="banner">
    <span class="title">Random Users</span>
      <div class="spacer"></div>   
  </div>
  <table class="table table-striped" id="user_table">
    <thead>
    <tr>  
        <th>User</th>
        <th>City</th>
        <th>Mobile</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
</div>
